@model IEnumerable<DaimaProje2.Models.BarkodJoin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div id="layoutSidenav_content">
    <main>
        <div class="card-body">
            <table id="datatablesSimple" class="table table-hover table table-bordered">
                @*<table class="table table-bordered table-hover">*@
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UrunAdi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adet)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.MusteriAdi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdSoyad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SatisTarihi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SeriNumarasi)
                    </th>
                    <th>
                        @Html.Label(" Düzenle")
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    if (item.SeriNumarasi != null)
                    {
                        <tr class="serino">
                            <td>
                                @Html.DisplayFor(modelItem => item.UrunAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adet)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MusteriAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdSoyad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SatisTarihi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeriNumarasi)
                            </td>
                            <td>
                                @Html.ActionLink("Düzenle", "EY", new { id = item.SatisNo }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Barkod", "Barkod", new { id = item.SatisNo }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UrunAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adet)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MusteriAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdSoyad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SatisTarihi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeriNumarasi)
                            </td>
                            <td>
                                @Html.ActionLink("Düzenle", "EY", new { id = item.SatisNo }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Barkod", "Barkod", new { id = item.SatisNo }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                }

            </table>
            
        </div>
    </main>
</div>

<style>
    .btn-info {
        display: flex;
        font-size: 20px;
        height: 40px;
        width: 150px;
        justify-content: center;
    }

    #buton {
        display: flex;
        justify-content: flex-end;
    }
    .serino {
        background-color: #e8e8e8;
    }
</style>

